---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "forgejo.fullname" . }}-env-vars
type: Opaque
stringData:
  # https://codeberg.org/forgejo/forgejo/src/branch/forgejo/contrib/environment-to-ini
  
  # Database configuration
  FORGEJO__database__PASSWD: "{{ .Values.forgejo.database.passwd }}"
  
  # Mailer configuration
  FORGEJO__MAILER__PASSWORD: "{{ .Values.forgejo.mailer.password }}"
  
  # OAuth configuration
  FORGEJO__OAUTH__JWT_SECRET: "{{ .Values.forgejo.oauth.jwtSecret }}"
  
  # security configuration
  FORGEJO__SECURITY__SECRET_KEY: "{{ .Values.securityContext.secretKey }}"
  FORGEJO__SECURITY__INTERNAL_TOKEN: "{{ .Values.securityContext.internalToken }}"
  
  # Server configuration
  FORGEJO__server__LFS_JWT_SECRET: "{{ .Values.forgejo.server.LFS_JWT_SECRET }}"
